.Project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 4px solid #000000;
  border-radius: 10px;
  width: 500px;
  text-align: center;
}

.Title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.Text {
  font-size: 20px;
  line-height: 22px;
  color: #bbbbbb;
  padding: 5px;
}

.Link {
  text-decoration: underline;
  color: #bbbbbb;
  transition: color 0.5s;
}

.Link:hover {
  color: #999999;
}
