.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
  line-height: 30px;
  color: rgb(28, 90, 41);
}

.skill {
  font-size: 20px;
  line-height: 22px;
  color: #bbbbbb;
  background-color: #555555;
  border-radius: 10px;
  margin: 10px;
  padding: 7px;
  transition: transform 0.3s;
  cursor: pointer;
}

.skill:hover {
  transform: scale(1.2);
}
